span{
    margin-top: 10px;
}
#buttonRefresh{
  padding: 1px 1px 1px 15px;
} 

label {
    font-weight: bold;
} 
input {
border: 1px solid blue; 
border-radius: 3px;
} 
 .barre{
text-decoration: line-through;
 } 

 button{
     margin-top: 10px;
 }